version: '2.0'
services:
  db:
      image: mongo:4.0.4
      ports:
        - "27017:27017"
      volumes:
        - ./data:/data/db
      environment:
        - MONGO_INITDB_ROOT_USERNAME=root
        - MONGO_INITDB_ROOT_PASSWORD=example
      command: mongod --auth
